@media screen and (min-width: 480px) {


  header{
    text-align: center;
    margin: 0 0 30px 0;
    width: 100%;
  }

  #address-input{
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-color: white;
  }
  #map {
    height: 400px;
  }


@media screen and (min-width: 660px) {


}
